apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      type: dbaas-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
        type: dbaas-operator
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        - --log-level=INFO
        image: controller:latest
        name: manager
        imagePullPolicy: Always
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
            - ALL
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 20
          periodSeconds: 20
        resources:
          limits:
            cpu: 200m
            memory: 1500Mi
          requests:
            cpu: 100m
            memory: 100Mi
        env:
        - name: INSTALL_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: OBSERVATORIUM_GATEWAY
          valueFrom:
            secretKeyRef:
              key: OBSERVATORIUM_GATEWAY
              name: secret-dbaas-observatorium
              optional: true
        - name: OBSERVATORIUM_TENANT
          valueFrom:
            secretKeyRef:
              key: OBSERVATORIUM_TENANT
              name: secret-dbaas-observatorium
              optional: true
        - name: OBSERVATORIUM_TOKEN
          valueFrom:
            secretKeyRef:
              key: OBSERVATORIUM_TOKEN
              name: secret-dbaas-observatorium
              optional: true
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
