apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
    service.binding/database: path={.status.dbConfigMap},objectType=ConfigMap
    service.binding/host: path={.status.dbConfigMap},objectType=ConfigMap
    service.binding/password: path={.status.dbCredentials},objectType=Secret
    service.binding/provider: path={.spec.provider}
    service.binding/type: path={.spec.type}
    service.binding/username: path={.status.dbCredentials},objectType=Secret
  creationTimestamp: null
  name: dbaasconnections.dbaas.redhat.com
spec:
  group: dbaas.redhat.com
  names:
    kind: DBaaSConnection
    listKind: DBaaSConnectionList
    plural: dbaasconnections
    singular: dbaasconnection
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: DBaaSConnection is the Schema for the dbaasconnections API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DBaaSConnectionSpec defines the desired state of DBaaSConnection
            properties:
              foo:
                description: Foo is an example field of DBaaSConnection. Edit dbaasconnection_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: DBaaSConnectionStatus defines the observed state of DBaaSConnection
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
