apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: dbaas-service-binding-controller-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: service-binding-controller-role
subjects:
- kind: ServiceAccount
  name: service-binding-operator
  namespace: openshift-dbaas-operator
- kind: ServiceAccount
  name: service-binding-operator
  namespace: redhat-dbaas-operator
